<!doctype html>
<html lang="en">

<head>
	<title>Caminos Region del Maule</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>
</head>

<body>
	<div class="container-fluid">
		
		<div class="navbar navbar-default" role="navigation">
			<h1 style="text-align:center">Caminos mas cortos</h1>

			<div class="top-pad">
				<form class="form-horizontal" id="form" method="POST" action="{{url_for('get_nearest_vertex')}}"
					role="form">
					<h3>Elige dos punto en el mapa</h3>
					<h4>Origen: </h4>
					<label for="latInput">Lat</label>
					<input type="text" id="latInput" name="latInput">
					<label for="lngInput">Lon</label>
					<input type="text" id="lngInput" name="lngInput">
					<select class="selectpicker" name="selected">
						<option>Dijkstra</option>
						<option>Bellman-Ford</option>
					</select>
					<button type="submit" class="btn btn-default">Buscar</button>
					<button type="button" class="btn btn-warning" onclick="limpiar()">Limpiar Mapa</button>
					<h4>Destino: </h4>
					<label for="latTarget">Lat</label>
					<input type="text" id="latTarget" name="latTarget">
					<label for="lngTarget">Lon</label>
					<input type="text" id="lngTarget" name="lngTarget">
					
				</form>
			</div>
			<div>Tiempo de respuesta del algoritmo: <span id="tiempo"></span> seconds</div>
		</div>
	</div>

	<div id="map"></div>
	<script src="{{ url_for('static', filename='js/universal.js') }}" />
	</script>
	<script>
		const port_ = {{ puerto }}
		const destino_ = "{{url_for('get_nearest_vertex')}}"
		function get_datos() {
			return [port_, destino_]
		};
		map.setView([{{ initial_view[0]}}, {{ initial_view[1]}}], 11);
	</script>
	<script src="{{ url_for('static', filename='js/map.js') }}" />
	</script>
</body>

</html>